*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    color: black;
}

h5{
    color: black;
}

.encabezado{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenedor-main a img{
    height: 150px;
    width: auto;
    border-radius: 50%;
}

.contenedor-main a #square{
    width: auto;
    height: 150px;
    border-radius: 0;
}

.contenedor-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.contenedor-main .logoandtitle{
    width: 30%;
    height: 200px;
    margin: .5rem .5rem 1.5rem .5rem;
    text-align: center;
    transition: 0.5s ease-in-out;
    flex-wrap: wrap;
}

.logoandtitle:hover{
    padding: 20px;
    transition: .5s ease-in-out;
}